@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0 ;
    padding: 0;
    text-decoration: none;
    font-family: 'Poppins', 'Monospace';
    font-size: calc(1vw + 2px);
}   
body {
    background-color:white;
    overflow-x: hidden;
    
}
:root{
    --mobile-topper-font-size: 2.5rem;
    --mobile-header-font-size: 6rem;
    --mobile-p-font-size: 2.4rem;
    --hero-image-height: 20rem;
    --desktop-topper-font-size: 1.5rem;
    --desktop-header-font-size: 2.25rem;
    --desktop-p-font-size: 1.1rem;
}

.section {
    height: fit-content;
    padding-bottom: 20rem;
}
@media (min-width: 1024px){
    .section {
        padding-block: 7rem
    }
}

/* Buttons */
.contact-button {
    background-color: #34D6C9;
    color: white;
    border: none;
    padding: 12px 20px 12px 20px;
    border-radius: .5rem;
    cursor: pointer;
}

button {
    cursor: pointer;
}
/*                  NAV BAR                  */

/* Mobile Screen */
@media only screen and (min-width: 0px) {
   
    header {
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        z-index: 9;
        display: fixed;
        box-shadow: 0px 4px 16.600000381469727px 0px #C0C0C040;

    }
    
    .header img {
        height: 50px;
    }
    header .contact-button {
        display: none;
        z-index: 2;

    }
    .nav-container ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        position: fixed;
        right: 0;
        background-color: #34D6C9;
        height: 100vh;
        z-index: -1;
        align-items: center;
        justify-content: center;
        width: 70%;
        gap: 3rem;
        backdrop-filter: blur(10px);
        display: none;
    }
    .nav-container ul a {
        color: #667085;
        font-size: 3.5rem;
    }
   .mobile-nav-button {
    border: none;
    background: none;
    height: 80px;
    z-index: 99;
    padding-right: 7.5rem;

   }
   .logo {
    padding-left: 5rem;
}
}
/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (min-width: 1024px) {

header {
    position: fixed;
    height: 10vh;
    justify-content: space-around;
}
.logo {
    padding: 0;
}
.header img {
    height: 10vh;
    padding: 0;
}
.nav-container ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    position: static;
    right: 0;
    background: none;
    z-index: 1;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2rem;
    backdrop-filter: blur(10px);
    height: 10vh;
}
.nav-container ul a {
    color: #667085;
    font-size: 1rem;
    position: relative;
}
.nav-container ul li a::before {
    content: '';
    background-color: #667085;
    height: 5%;
    position: absolute;
    left: 0%;
    bottom: -10%;
    width: 100%;
    opacity: 0;
    transform-origin: center;
    transform: scaleX(0);
    
}
.nav-container ul li a:hover::before {
    animation: fadeup .3s linear forwards;
}

@keyframes fadeup {
    from {}
    to {opacity: .9; transform: scaleX(.9);}
}

header .contact-button {
    display: inline;
    z-index: 2;
    padding-inline: 1rem;
    padding-block: .5rem;
    border-radius: .5rem;
}
.mobile-nav-button {
    display: none;
}

}    
/*                  HERO                  */

/* Mobile Screen */
@media (min-width: 0px) {
    .hero {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        padding-bottom: 20rem;
        padding-top: 3rem;
        background-color: #EBFBFA;
    }
    .hero > * {
        z-index: 2;    
    }
    .hero-shape {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 200%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
        z-index: 1;
    }
    
    .hero-shape svg {
        position: relative;
        display: block;
        width: calc(100% + 0px);
        height: 550px;
    }
    
    .hero-shape .shape-fill {
        fill: #e7eeee;
    }
    .hero .hero-text-contain {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .hero h1 {
        color: #344054;
        font-size: 700;
        font-size: 7rem;
        padding-left: 5rem;


    }
    .hero h1 span {
        color: #34D6C9;
        font-size: 7rem;
    }
    .hero hr {
        width: 80%;
        height: 1px;
        background-color: black;
        border: none;
        border-radius: 25%;
    }
    .hero p {
        font-size: 3rem;
        color: #667085;
        padding-left: 5rem;
        padding-right: 2rem;

    }
    .hero-buttons {
        display: flex;
        width: 100%;
        gap: 1rem;
        justify-content: center;
        height: 12rem;
    }
    .hero button {
        border: none;
        border-radius: 8px;
        font-size: 4rem;
        width: 45%;
    }
    .hero div .Read-More{
        background-color: #34D6C9;
        color: white;
    }
    .hero div .View-More{
        background: none;
        border: 1px solid #34D6C9;
        color: #34D6C9;
    }
    .hero-images-container{
        display: none;
    }
    .hero-images-container-2 {
        display: none;
    }
    
}
/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (min-width: 1024px) {
    .hero {
        padding-top: 10vh;
        display: flex;
        flex-direction: row;
        align-items: start;
        height: 50vh;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .hero-shape {
        display: none; 
    }
    .hero-text-contain {
        width: 150rem;
        padding-top: 5rem;
    }
    .hero-text-contain p {
        font-size: 1.5rem;
    }
    .hero-text-contain h1 {
        font-size: 3rem;
    }
    .hero-text-contain h1 span {
        font-size: 3rem;
    }
    .hero hr {
        display: none;
    }
    .hero-images-container {
        width: 50%;
        height: 1000px;
        display: block;
    }
    .hero-images-container img {
        height: var(--hero-image-height);
        width: calc(0.728476821 * var(--hero-image-height));
        object-fit: cover;
        border-radius: 2rem;

    }
    .hero-images-container div {
        rotate: 20deg;
        transform: translate(-2rem, -10rem);
        width: calc(0.728476821 * 25rem);
    }
    .hero-images-container-2 {
        width: 50%;
        height: 1000px;
        display: block;
    }
    .hero-images-container-2 img {
        height: var(--hero-image-height);
        width: calc(0.728476821 * var(--hero-image-height));
        object-fit: cover;
        border-radius: 2rem;

    }
    .hero-images-container-2 div {
        rotate: 20deg;
        transform: translate(-5rem, -10rem);
        width: calc(0.728476821 * 25rem);
    }
    .hero-buttons{
        justify-content: start;
        padding-left: 10rem;
    }
    .hero-buttons button{
        font-size: 1rem;
        height: fit-content;
        padding-block: 1rem;
        width: 25%;
        border-radius: 1rem;
    }
    
}    

/*                  SECTION 1                  */
/* Mobile Screen */
@media (min-width: 0px) {
    .section1 {
        width: 100%;
        height: fit-content;
        background-color: #fff;
    }
    .section1-container{
        padding-top: 2rem;
        padding-left: 5rem;
        padding-right: 2rem;
    }
    .section1 img {
        width: 100%;
    }
    .section1-container h2 {
        font-size: var(--mobile-topper-font-size);
        color: #34D6C9;
    }
    .section1-container h1 {
        font-size: var(--mobile-header-font-size);
        color: #344054;
        padding-bottom: 2rem;
    }
    .section1-container p {
        padding-bottom: 4rem;
        font-size: var(--mobile-p-font-size);
        color: #667085;
    }
    .Read-More{
        background-color: #34D6C9;
        color: white;
        border: none;
        border-radius: 8px;
        font-size: 4rem;
        width: 45%;
        padding-block: 2rem;
        
    }
    
}
/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (min-width: 1024px) {
    .section1 {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;

    }
    .section1-container {
        /* width: 50% */
        /* display: flex;
        flex-direction: column;
        justify-content: center; */
    }
    .section1-container h1 {
        font-size: var(--desktop-header-font-size); 
        padding-bottom: 1rem;
    }
    .section1-container h2 {
        font-size: var(--desktop-topper-font-size);
        font-weight: 400;
    }
    .section1 img {
        width: 30rem;
        height: calc(0.801181101 * 30rem);
        border-radius: 1rem;
    }
    .section1-container p{
        font-size: var(--desktop-p-font-size);
        padding: .5rem;
        width: 75%;
    }
    .section1 .Read-More{
        font-size: 1rem;
        height: fit-content;
        padding-block: 1rem;
        width: 20%;
        border-radius: .5rem;
        margin-top: 1rem;
    }
}
/*                  SECTION 2                  */
/* Mobile Screen */
@media (min-width: 0px) {
    .section2 {
        width: 100%;
        
        background-color: #FCFCFD;
    }
    .section2-container{
        padding-top: 2rem;
        
    }
    .section2-container > h1, .section2-container > h2 {
        padding-left: 5rem;
        padding-right: 2rem;
    }
    .section2-container > h2 {
        font-size: var(--mobile-topper-font-size);
        color:#34D6C9;
    }
    .section2-container > h1 {
        font-size: var(--mobile-header-font-size);
        color: #344054;
    }
    .services-flex {
        height: 100%;
        width: 90vw;
        margin-left: 5vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .service {
        background-color: white;
        box-shadow: 0px 0px 16px 0px #00000014;
        position: relative;
        padding: 3rem;
        padding-bottom: 4rem;
        border-radius: 6px;
    }
    .service picture {
        
    }
    .service picture img {
        height: 5rem;
    }
    .service h1 {
        font-size: calc(var(--mobile-header-font-size) / 1.8);
        color: #344054;
        padding-bottom: 1rem;
    }
    .service p {
        font-size: calc(var(--mobile-p-font-size) / 1.2);
    }
}
/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (min-width: 1024px){
    .section2 {
    }
    .section2-container {
        padding-top: 0;
        padding-right: 50rem;

    }
    .section2-container h1 {
        font-size: var(--desktop-header-font-size); 
        padding-bottom: 1rem;
    }
    .section2-container h2 {
        font-size: var(--desktop-topper-font-size);
        font-weight: 400;
    }
    .services-flex {
        flex-direction: row;
        gap: 1rem;
        align-items: start;
        margin-right: 1rem;

    }
    .service {
        width: 30rem;
        height: 15rem;
    }
    .service h1 {
        font-size: calc(var(--desktop-header-font-size) / 2); 
        padding-bottom: 1rem;
    }
    .service p {
        font-size: calc(var(--desktop-p-font-size) / 1.2);
    }
}
/*                  SECTION 3                  */
/* Mobile Screen */
@media (min-width: 0px) {
    .section3 {
        width: 100%;
        height: fit-content;
        background-color: #fff;
    }
    .section3-container{
        padding-top: 2rem;
        padding-right: 2rem;
    }

    .section3-container > h2 {
        font-size: var(--mobile-topper-font-size);
        color:#34D6C9;
        padding-left: 5rem;

    }
    .section3-container > h1 {
        font-size: var(--mobile-header-font-size);
        color: #344054;
        padding-left: 5rem;

    }

      .swiper-slide {
        width: 100%;
      }
  
      .swiper-slide img {
        width: 100%;
      }
      .swiper-slide h1 {
        color: #344054;
        font-size: calc(var(--mobile-header-font-size) / 2);
        padding-left: 2rem;
      }
    .section3-container {
        padding-top: 0;
    }

    .swiper {
        width: 70%;
        height: 60rem;
        background: none;
      }

      .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 30px;
        font-weight: bold;
        color: #fff;
      }
      .swiper-slide h1 {
        text-align: center;
        padding: 0;
        color: orangered;
        font-size: calc(var(--mobile-header-font-size) / 1.2);
      }

      .swiper-slide p {
        color: gray;
        text-align: center;
        font-size: calc(var(--mobile-header-font-size) / 1.8);
        margin-top: -1rem;
        margin-bottom: 4rem;
      }
      .swiper-slide:nth-child(1n) {
        background-color: white;
      }
      .swiper-slide .button-container{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
      }
      .swiper-slide:nth-child(1n) .contact-button{
        background-color: orangered;
        cursor: pointer;
        padding-inline: 3rem;
        padding-block: 1rem;
        font-size: calc(var(--mobile-header-font-size) / 2);
      }
      .contact-button i {
        font-size: calc(var(--mobile-header-font-size) / 2);
      }
      .swiper-slide .contact-button:hover{
        background-color: black;
      }

    .side-arrow {
        display: none;
    }
    @keyframes scaleup {
        from {}
        to{ scale: 1.01; box-shadow: 1px 1px 100px rgba(255, 255, 255, 0.253);}
    }
    
      
}
/* TABLET LANDSCAPE / DESKTOP */
@media only screen and (min-width: 1024px){
    .section3 {
 
    }
    .swiper {
        width: 100%;
        margin-top: 3rem;
        padding-bottom: 0px;
      }
  
      .swiper-slide {
        width: 100%;
      }
  
      .swiper-slide img {
        width: 100%;
      }
      .swiper-slide h1 {
        color: #344054;
        font-size: calc(var(--mobile-header-font-size) / 2);
        padding-left: 2rem;
      }
    .section3-container {
        padding-top: 0;
    }
    .section3-container h1 {
        font-size: var(--desktop-header-font-size); 
        padding-bottom: 0;
    }
    .section3-container h2 {
        font-size: var(--desktop-topper-font-size);
        font-weight: 400;
    }
    .swiper {
        width: 20%;
        height: 25rem;
        animation: default-swiper 10s linear;
        animation-iteration-count: infinite;
        background: none;
      }
      .swiper:hover {
        animation-play-state: paused;
      }
      @keyframes default-swiper {
        0% {scale: 1}
        50% { scale: 1.1}
        100% {scale: 1}
      }
      .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 10%;
        font-weight: bold;
        color: #fff;
      }
      .swiper-slide h1 {
        text-align: center;
        padding: 0;
        color: orangered;
      }

      .swiper-slide p {
        color: gray;
        text-align: center;
        font-size: 1rem;
        margin: 0;
      }
      .swiper-slide:nth-child(1n) {
        background-color: white;
      }
      .swiper-slide .button-container{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
      }
      .swiper-slide:nth-child(1n) .contact-button{
        background-color: orangered;
        cursor: pointer;
        padding-inline: 1rem;
        padding-block: .25rem;
        font-size: 1rem;

      }
      .contact-button i {
        font-size: 1rem;
      }
      .swiper-slide .contact-button:hover{
        background-color: black;
      }
      .swiper-slide:hover {
        animation: scaleup .1s linear forwards;
    }
    .side-arrow {
        display: block;
        position: absolute;
        right: -10rem;
        font-size: 4rem;
        bottom: 50%;
        animation-play-state: paused;
    }
    @keyframes scaleup {
        from {}
        to{ scale: 1.01; box-shadow: 1px 1px 100px rgba(255, 255, 255, 0.253);}
    }
    }
    


/*                  SECTION 4                  */
/* Mobile Screen */
@media (min-width: 0px) {

    .section4 {
        width: 100%;
        height: fit-content;
        background-color: #fff;
        padding-top: 2rem;
    }
    .scroller {
    max-width: 90%;
    outline:  3px solid lime;
    }
    .scroller__inner {
        padding-block: 1rem;
        display: flex;

        list-style: none;
        text-decoration: none;
        flex-wrap: wrap;
    }
    .scroller__inner li {
        font-size: 5rem;
    }
    .scroller[data-animated="true"] {
        overflow: hidden;
        -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
        mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    }
    .scroller[data-animated="true"] .scroller__inner {
        width: max-content;
        flex-wrap: nowrap;
        animation: scroll var(--_animation_duration, 15s) linear infinite;
    }

    .scroller__inner img {
        width: 32rem;
        padding-left: 15rem;
    }

    @keyframes scroll {
        to{
            transform: translate(calc(-50%))
        }
    }

    .scroller[data-animated="true"] .scroller__inner:hover {
        animation-play-state: paused;
    }
}   
/* TABLET LANDSCAPE / DESKTOP */
@media (min-width: 1024px){
    .scroller__inner img{
        width: 10rem;
        padding-left: 10rem;
    }
    .section4 {
    }
}



/*                  SECTION 5                  */
/* Mobile Screen */
@media (min-width: 0px) {

    .section5 {
        width: 100%;
        height: fit-content;
        background-color: #fff;
        padding-top: 2rem;
    }

    .container {
        max-width: 768px;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
      }
      .grid {
        display: grid;
        gap: 1.5rem;
      }
        .contact__container{
        padding-top: 5rem;
        
        }
    
        .section__subtitle {
            display: flex;
            align-items: center;
            flex-direction: column;
            font-size: var(--mobile-topper-font-size);
            color:#34D6C9;
            font-weight: 700;
        }
        .section__title {
            display: flex;
            align-items: center;
            flex-direction: column;
            font-size: var(--mobile-header-font-size);
            color: #344054;
        }
    
      .contact__information{
        display: flex;
        margin-bottom: 4rem;
        margin-left: 2rem;
      }
      
      .contact__icon{
        font-size: 5rem;
        color: #34D6C9;
        margin-right: 1.75rem;
      }
      
      .contact__title {
        font-size: calc(var(--mobile-p-font-size) + 1rem);
        font-weight: 500;
        
      }
      
      .contact__subtitle{
        font-size: calc(var(--mobile-p-font-size) + .5rem);
        color: #344054;
    }
        .contact__form{
        padding-top: 5rem;
        padding-left: 2rem;
    }
      .contact__content{
        background-color: rgb(238, 245, 252);
        border-radius: .5rem;
        padding: .75rem 1rem .25rem;
        margin-bottom: 3rem;
      }
      
      .contact__label{
        font-size: calc(var(--mobile-p-font-size));
        color:var(--text-color)
      }
      
      .contact__input{
        width: 100%;
        background-color: var(--input-color);
        color: gray;
        font-size: calc(var(--mobile-p-font-size) / 1.1);
        border: none;
        outline: none;
        padding: .25rem .5rem .5rem 0;
      }
      .contact a {
        color: white;
        background-color:#34D6C9;
        padding-inline: 1.5rem;
        padding-block: 2rem;
        border-radius: 5px;
        font-size: 3rem;
      }
    
      .button__icon {
        font-size: 3rem;
      }
      .footer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .footer-container {
        width: 90%;
        display: flex;
        gap: 10rem;
        justify-content: center;

      }
      .footer-container div img {
        height: 20px;
      }
      .footer-optional {
        display: none;
      }
      .footer-container div h1 {
        font-size: var(--mobile-topper-font-size);
        color: #344054;
      }
      .footer-container div {
        width: 50%;
      }
      .footer-container li {
        list-style: none;
        color: #667085;
        font-size: 2rem;
        padding-top: 1.5rem;
      }
      .footer2 {
        background-color: #34D6C9;
        padding-block: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 4rem;
      }
      .footer2 h1{
        font-size: var(--mobile-topper-font-size);
        color: white;
        font-weight: 400;
      }
}
/* TABLET LANDSCAPE / DESKTOP */

@media (min-width: 1024px) {
    .section5 {
        width: 100%;
        height: fit-content;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container {
        max-width: 768px;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
      }
      .grid {
        display: grid;
        gap: 0;
        column-gap: 1rem;
      }
        .contact__container{
        display: flex;
        justify-content: center;
        max-width: fit-content;
        }

        .section__subtitle {
            display: flex;
            align-items: center;
            flex-direction: column;
            font-size: var(--desktop-topper-font-size);
            color:#34D6C9;
            font-weight: 700;
        }
        .section__title {
            display: flex;
            align-items: center;
            flex-direction: column;
            font-size: var(--desktop-header-font-size);
            color: #344054;
        }

      .contact__information{
        display: flex;
        margin-bottom: 1.5rem;
        margin-left: 2rem;
      }
      
      .contact__icon{
        font-size: calc(var(--desktop-header-font-size ) / 1.2);
        color: #34D6C9;
        margin-right: 1.75rem;
      }
      
      .contact__title {
        font-size: calc(var(--desktop-header-font-size ) / 1.2);
        font-weight: 500;
        
      }
      
      .contact__subtitle{
        font-size: calc(var(--desktop-p-font-size));
        color: #344054;
    }
      .contact__form{
        padding-top: 0;
        padding-left: 2rem;
    }
      .contact__content{
        background-color: rgb(238, 245, 252);
        border-radius: .5rem;
        padding: .75rem 1rem .25rem;
        margin-bottom: 1.5rem;
      }
      
      .contact__label{
        font-size: calc(var(--desktop-p-font-size));
        color:var(--text-color)
      }
      
      .contact__input{
        width: 100%;
        background-color: var(--input-color);
        color: gray;
        font-size: calc(var(--desktop-p-font-size) / 1.1);
        border: none;
        outline: none;
        padding: .25rem .5rem .5rem 0;
      }
      .contact a {
        color: white;
        background-color:#34D6C9;
        padding-inline: 1.5rem;
        padding-block: 1rem;
        border-radius: 5px;
        font-size: 1rem;
      }
      .contact__inputs {
        display: flex;
      }
      
      .button__icon {
        font-size: 1rem;
      }
      .footer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .footer-container {
        width: 90%;
        display: flex;
        gap: 10rem;
        justify-content: center;

      }
      .footer-container div img {
        height: 100px;
      }
      .footer-optional {
        display: block;
      }

      .footer-optional p {
        font-size: 1rem;
        color: #4e5564;
      }
      .footer-container div h1 {
        font-size: var(--desktop-topper-font-size);
        color: #344054;
      }
      .footer-container div {
        width: 30%;
      }
      .footer-container li {
        list-style: none;
        color: #667085;
        font-size: 1rem;
        padding-top: 1.5rem;
      }
      .footer2 {
        background-color: #34D6C9;
        padding-block: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 4rem;
      }
      .footer2 h1{
        font-size: 1rem;
        color: white;
        font-weight: 400;
      }
      .footer-contact-follow div{
        display: flex;
      }
}